version: '3.8'

services:
 postgres:
    image: postgres:15
    container_name: postgress_db
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: mydb
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

app: 
    container_name: lamaschool_app
    ports:
      - "3000:3000"
    environment:
      DATABASE_URL: postgres://myuser:mypassword@postgres:5432/mydb  
    depends_on:
      - postgres
  